<section class="box special">
		{{#if prev}}
		    <a class="newer-posts" href="{{page_url prev}}">&larr; {{t "Newer Posts"}}</a>
		{{/if}}
		<span class="page-number">{{page}} / {{pages}}</span>
		{{#if next}}
		    <a class="older-posts" href="{{page_url next}}">{{t "Older Posts"}} &rarr;</a>
		{{/if}}

</section>
	